<?xml version="1.0" encoding="UTF-8"?>
<phpunit stderr="true" colors="true" bootstrap="bootstrap.php" displayDetailsOnTestsThatTriggerDeprecations="true">
    <php>
    </php>
    <source>
        <include>
            <directory suffix=".php">../WebFiori/Cli</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Tests">
            <directory>./WebFiori/Tests/Cli</directory>
        </testsuite>
    </testsuites>
</phpunit>
