<?xml version="1.0" encoding="UTF-8"?>
<phpunit stderr="true" colors="true" bootstrap="bootstrap.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>../WebFiori/Cli/Command.php</file>
            <file>../WebFiori/Cli/CommandArgument.php</file>
            <file>../WebFiori/Cli/Formatter.php</file>
            <file>../WebFiori/Cli/KeysMap.php</file>
            <file>../WebFiori/Cli/Runner.php</file>
            <file>../WebFiori/Cli/CommandTestCase.php</file>
            <file>../WebFiori/Cli/InputValidator.php</file>
            <file>../WebFiori/Cli/Streams/ArrayInputStream.php</file>
            <file>../WebFiori/Cli/Streams/ArrayOutputStream.php</file>
            <file>../WebFiori/Cli/Streams/FileInputStream.php</file>
            <file>../WebFiori/Cli/Streams/FileOutputStream.php</file>
            <file>../WebFiori/Cli/Discovery/CommandDiscovery.php</file>
            <file>../WebFiori/Cli/Discovery/CommandMetadata.php</file>
            <file>../WebFiori/Cli/Discovery/CommandCache.php</file>
            <file>../WebFiori/Cli/Discovery/AutoDiscoverable.php</file>
            <file>../WebFiori/Cli/Exceptions/CommandDiscoveryException.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Tests">
            <directory>./WebFiori/Tests/Cli</directory>
        </testsuite>
    </testsuites>
</phpunit>